<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Python Desktop Application</title>

        <style>
            body {
                background-color: #262626;
            }

            h1 {
                color: lightgray;
                font-family: 'Russo One', sans-serif;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Desktop application in python</h1>
        <form action="/page2">
            <button type="submit">Go to page 2</button>
        </form>
    </body>
</html>